{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Theme</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		
		<script defer src="{% static 'js/htmx.min.js' %}" defer></script>
		<script defer src="{% static 'js/alpine.min.js' %}" defer></script>

		{% block head %}
		{% endblock %}
	</head>

	<body class="bg-white font-serif leading-normal tracking-normal">

		{% block content %}
		<div class="indicator">
			<div class="indicator-item indicator-bottom">
			  <button class="btn btn-primary">+ DaisyUI</button>
			</div>
			<div class="card border mt-10">
			  <div class="card-body">
				<h2 class="card-title">You did it!</h2>
					<div class="container mx-auto">
						<section class="flex items-center justify-center">
							<h1 class="text-5xl" x-data="{ message: 'Django + Tailwind + Alpine + htmx = ❤️' }" x-text="message"></h1>
						</section>
					</div>
			  </div>
			</div>
		  </div>
		{% endblock %}

	</body>
</html>
